@import './Variables.scss';
.app{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  background-color: red;
  height: auto;
  min-height: 40rem;
  background: rgb(8,0,37);
  background: $background-gradient;
  //background: linear-gradient(0deg, rgba(8,0,37,1) 0%, rgba(9,9,121,1) 20%, rgba(0,177,122,1) 100%);
}