@import './Variables.scss';

.calendar {
    position: absolute;
    z-index: 9999;
    right: 1rem;
    top: 4.5rem;
    background: $background-gradient;
    border-radius: .5rem;
    padding: 1rem;
    color: #000;
    display: flex;
    flex-grow: 1;
    width: 15.5rem;
    height: 18.3rem;
    box-shadow: 3px 4px 13px -3px $date-color;
    -webkit-box-shadow: 3px 4px 13px -3px $date-color;
    -moz-box-shadow: 3px 4px 13px -3px $date-color;
}

.rc-calendar-input-wrap{
    display: none;
}