@import './Variables.scss';
.task{
    display: flex;
    width: calc(100% - 1rem * 2);
    align-items: center;
    justify-content: space-between;
    padding: .2rem 1rem;
    margin-bottom: .6rem;
    position: relative;

    &__parent{
        &:hover{
            background-color: white;
            border-radius: .5rem;
        }
    }

    &__check{
        cursor: pointer;
        width: 5%;
    }

    &__title{
        font-weight: 400!important;
        margin: 0;
        width: 75%;
        max-width: 75%;
        padding-left: 1.5rem;
        word-break: break-word;
    }

    &__father{
        height: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: .5rem;
    }

    &__child{
        //width: 20%;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    &__date{
        margin: 0;
        color: $date-color;
    }

    &__svg{
        cursor: pointer;
        width: $icon-size;
        height: $icon-size;
    }

    &__description{
        display: flex;

        &__text{
            font-size: .9rem;
            margin: 0 0 1rem 4.4rem;
            width: 68%;
            max-width: 68%;
            word-break: break-word;
            //margin-right: 3rem;
        }
    }

    &__edition{
        position: absolute;
        display: flex;
        
        background-color: red;
        z-index: 999;

        &--inputs{
            display: flex;
            flex-direction: column;
        }

        &--btns{
            display: flex;
            align-items: flex-end;
        }
    }
}