$background-color: #edeff0;
$title-color: rgb(59 113 202);
$text-color: rgb(79 79 79);
$date-color: rgb(117 117 117);
$edit-color: rgb(84 180 211);
$delete-color: rgb(220 76 100);
$text-size: 1.25rem;
$title-size: 1.5rem;
$icon-size: 1.2rem;
$border-color: #e0e0e0;
$background-gradient: linear-gradient(0deg, rgba(8,0,37,1) 0%, rgba(9,9,121,1) 20%, rgba(0,177,122,1) 100%);
$mobile-width: 550px;